@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NoticeBoard.Common.Enums
@using NoticeBoard.Common.Extensions
@using NoticeBoard.WebApplication.Models.Parameters
@model IEnumerable<NoticeBoard.WebApplication.Models.ViewModels.GetListViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<style>
    .custom-date-input {
        width: 200px; 
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Announcements</h2>
            <!-- 查詢表單 -->
            <form asp-controller="Announcement" asp-action="GetList" method="get" class="form-inline mb-3">
                <div class="form-group" style="margin-top:5px">
                    <label for="title" class="sr-only">Title</label>
                    <input type="text" name="title" class="form-control" id="title" placeholder="Search by Title" value="@Context.Request.Query["title"]" />
                </div>
                <div class="form-group" style="margin-bottom:5px">
                    <label for="StartDate" class="sr-only">StartDate</label>
                    <div style="margin-top:5px">
                        <input type="date" name="StartDate" style="display:inline" class="form-control custom-date-input" id="StartDate" value="@Context.Request.Query["StartDate"]" />
                        <p style="display:inline">~</p>
                        <input type="date" name="EndDate" style="display:inline" class="form-control custom-date-input" id="StartDate" value="@Context.Request.Query["EndDate"]" />

                    </div>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Search</button>
            </form>

            <a href="/Announcement/Insert" class="btn btn-primary custom-button">Add</a>           
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>No</th>
                    <th>類別</th>
                    <th>標題</th>
                    <th>上架日</th>
                    <th>狀態</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.AnnouncementType.GetDescription()</td>
                        <td>@item.Title</td>
                        <td>@item.PublishDate</td>
                        <td>@item.PublishStatus.GetDescription()</td>
                        <td>
                            <a href="/Announcement/Edit/@item.Id">Edit</a>                           
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>